<head>
</head>
<body>
  <header>
  </header>
  <nav>
    <ul>
      <li><%= link_to "All Pets", "/pets" %></li>
      <li><%= link_to "All Shelters", "/shelters" %></li>
    </ul>
  </nav>
  <section class="show">
    <h1><%= @shelter.name %></h1>

    <p>Address: <%= @shelter.address %></p><br>
    <p>City: <%= @shelter.city %></p><br>
    <p>State: <%= @shelter.state %></p><br>
    <p>Zip code: <%= @shelter.zip_code %></p><br><br>

    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %><br><br><br>

    <h3>Remove this shelter</h3>
    <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
  </section>
  </body>
