<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
    <%= image_tag pet.image, alt: "Photo of #{pet.name}", title: "Photo of #{pet.name}" %>
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= pet.shelter.name %></p>
    <p><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></p>
    <%= button_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
